button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

button[style="background-color: red"] {
    background-color: red;
}

button[style="background-color: red"]:hover {
    background-color: darkred;
}